<template name="cron">
	 <!-- Page heading -->
    {{> pageHeading}}
    <div class="wrapper wrapper-content animated fadeInRight">

	   <!-- <a class="btn btn-lg btn-primary delete-all-button">
		    {{translate 'delete_annonces'}}
		</a> -->

		 <a class="btn btn-lg btn-primary delete-all-today-button">
		    {{translate 'delete_today_annonces'}}
		</a>


		 <a class="btn btn-lg btn-primary delete-all-old-button">
		    {{translate 'delete_old_annonces'}}
		</a>



		

		<a class="btn btn-lg btn-primary search-all-button">
		    {{translate 'load_annonces'}}
		</a>
	<!--

	<hr/>

	    <a class="btn btn-lg btn-primary delete-all-users-button">
		    {{translate 'delete_users'}}
		</a>
	-->
		

	<!-- 
		<hr/>

		Max date <input type="date" name="max_date" id="max_date" /> 
		<button class="btn btn-lg btn-primary search-load_all_annonces_cron" type="submit">
		   Run cron
		</button>

		<hr/>
	-->
		
		


	</div>

	
</template>