<template name="suggestions">

	{{> pageHeading}}


     <div class="wrapper wrapper-content" id="suggestions">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    
                    <div class="ibox-content">

                        <form method="post" class="form-horizontal profil" enctype="multipart/form-data">

                            <!--<div class="form-group">
                                <div class="col-sm-12">
                                    <input type="email" id="email" placeholder="Email" required class="form-control" value="">
                                </div>
                            </div> -->
                            <p>
                            {{translate 'suggestion_label'}}
                            </p>
                            <div class="form-group">
                                <div class="summernote">
                                    {{translate 'put_your_message_here'}}
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <a href="#" id="send_mail" class="btn btn-block btn-primary">{{translate 'send'}}</a>
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>


</template>