<template name="recoverPassword">
    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">{{translate 'forgot_password'}}</h2>

                    <p>
                       {{translate 'enter_email_for_new_password'}} 
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="">
                                <div class="form-group">
                                    <input type="email" id="recover-email" class="form-control" placeholder=" {{translate 'email'}} " required="">
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b"> {{translate 'send'}} </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</template>