<template name="lockScreen">
    <div class="lock-word animated fadeInDown">
        <span class="first-word">LOCKED</span><span>SCREEN</span>
    </div>
    <div class="middle-box text-center lockscreen animated fadeInDown">
        <div>
            <div class="m-b-md">
                <img alt="image" class="img-circle circle-border" src="{{profil_picture}}">
            </div>
            <h3>{{username}}</h3>
            <p>{{translate 'your_are_in_lock_screen'}}.</p>
           <!-- <form class="m-t" role="form" action="{{pathFor route='dashboard1'}}">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="******" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width">Unlock</button>
            </form> -->
        </div>
    </div>
</template>